[submodule "https://github.com/almAngel/sleepbox-ui/tree/master/Sleepbox%20API"]
	path = https://github.com/almAngel/sleepbox-ui/tree/master/Sleepbox%20API
	url = https://github.com/almAngel/sleepbox-api
[submodule "sleepbox-api"]
	path = sleepbox-api
	url = https://github.com/almAngel/sleepbox-api
[submodule "sleepbox-ion"]
	path = sleepbox-ion
	url = https://github.com/almAngel/sleepbox-ion
